.DS_Store
.svn

*.xcworkspace
*.xcbkptlist
*.xccheckout

*.xcodeproj/*
!*.xcodeproj/project.pbxproj

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

DerivedData/
build/
Pods/
xcuserdata/